
@font-face{
        font-family: "Lekton";
	src: url(lekton/Lekton-Regular.ttf);
        }
     
html{
        height:100%
                
}

body
{       
        overscroll-behavior: none;
        overscroll-behavior-y: contain;
        -webkit-box-sizing: border-box; /* Safari, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        width: 100%;
       
		margin: 0 -3px 0 0;
        overflow-x: hidden;
        height: 100vh;
        max-width: 100%;
        font-family: "Lekton";
        -webkit-touch-callout: none;
        -webkit-text-size-adjust:none;
        -moz-text-size-adjust:none;
        -ms-text-size-adjust:none;
        -webkit-text-size-adjust:100%;
        -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;      
        user-drag: none; 
        -moz-user-select: none;
        -webkit-user-drag: none;
        overflow: hidden;
}

.svgdiv{
	position: fixed;
	width: 100%;
		
}
